.home-view {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #dddddd;
}
.home-list {
  width: 80%;
}
.home-footer {
}
